/* Border */
body{
    font-family:'Times New Roman', Times, serif;
    max-width: 50vw;
    width: 90%;
    margin: 0 auto;
    color: rgb(0,0,0);
    background-color: beige;
}

/* Header */
.header{
    background-color: bisque;
    padding: 0 20px;
    border-radius: 10px;
    border: 5px solid white;
    margin-top: 1.2rem;
}

.header h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
}

.header h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2px;
}

.header p {
    font-size: 1.5em;
}

.header hr {
    background-color: #ffff;
    border: none;
    max-width: 75%;
    border-radius: 4px;
    height: 4px;
}

/* Hobbies */

.hobbies {
    background-color: bisque;
    padding: 0 20px;
    border-radius: 10px;
    border: 5px solid white;
    margin-top: 1.2rem;
}

.hobbies h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 24px;
}

.hobbies h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.hobbies li{
    font-size: 1.5em;
    list-style:square;
}

.hobbies hr {
    background-color: #ffff;
    border: none;
    max-width: 75%;
    border-radius: 4px;
    height: 4px;
}

/* Table Section */

.info{
    background-color: bisque;
    padding: 0 20px;
    border-radius: 10px;
    border: 5px solid white;
    margin-top: 1.2rem;
}

.info hr{
    background-color: #ffff;
    border: none;
    max-width: 75%;
    border-radius: 4px;
    height: 4px;
}


.info h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 24px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1.2em;
}

th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}

th {
    background-color: bisque;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f5f5dc;
}
